<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.geval6.word">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>



    <supports-screens
    android:smallScreens="true"
    android:normalScreens="true"
    android:largeScreens="true"
    android:xlargeScreens="true"
    android:anyDensity="true"
   />



    <application
        android:allowBackup="true"
        android:icon="@drawable/bible_image"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Core.MainActivity"
            android:icon="@drawable/bible_image"
            android:label="Word Of God">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Core.Audio_Activity"
            />
        <activity android:name=".Core.Activity_Gospel_List"
            android:label="Back"
            />
        <activity android:name=".Core.SampleAudio"
            android:configChanges="orientation|screenSize"
            android:label="Back"

            />

    </application>

</manifest>